<%- include('./partials/header.ejs') %>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Login</h3>
                    </div>
                    <div class="card-body">
                        <form action="/login" method="POST">
                            <div class="mb-3">
                                <label for="Uemail" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="mail">
                            </div>
                            <div class="mb-3">
                                <label for="Pwd" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="pass">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>